@model ConfirmationModel

@{
    ViewData["Title"] = "Подтверждение мобильного";
}

<h1>Подтверждение мобильного телефона</h1>
@if(!Model.Errors.ContainsKey("phone") && Model.CellPhone != null)
{
<form action="@Url.Action("Confirmate")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="code">Код подтверждения</label>
        <input type="text" class="form-control" name="code" placeholder="****" />
        @if (Model.Errors.ContainsKey("code"))
        {
            <small class="form-text text-danger">@Model.Errors["code"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Проверить</button>
</form>
}

<form action="@Url.Action("SendConfirmationCode")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <div class="form-group">
        <label for="cellPhone">Мобильный телефон</label>
        <input type="text" class="form-controle" name="cellPhone" value="@Model.CellPhone" />
        @if (Model.Errors.ContainsKey("phone"))
        {
            <small class="form-text text-danger">@Model.Errors["phone"]</small>
        }
    </div>
    @if (Model.CellPhone == null || Model.Errors.ContainsKey("phone"))
    {
        <button class="btn btn-success" type="submit">Отправить код</button>
    }
    else
    { 
        <button class="btn btn-success" type="submit">Повторнить отправку кода</button>
    }
</form>
