@model OrderModel

@{
    ViewData["Title"] = "Корзина";
}

<h1>Корзина</h1>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <th scope="col">№</th>
        <th scope="col">Автор</th>
        <th scope="col">Название</th>
        <th scope="col"><div style="margin-left:50%">Количество</div></th>
        <th scope="col">Цена</th>
        <th scope="col">Редактировать</th>
    </thead>
    <tbody>
        @for(int i = 0; i<Model.Item.Length; i++)
        {
            <tr>
                <td class="text-right">@(i + 1)</td>
                <td>@Model.Item[i].Author</td>
                <td>@Model.Item[i].Title</td>
                <td>
                    <div style="width: 50%; display: inline-block;"></div>
                    <div style="width: 10%; display: inline-block;">
                        <form action="@Url.Action("UpdateItem", "Order")" method="post">
                            <input type="hidden" name="id" value="@Model.Item[i].BookId" />
                            <input type="hidden" name="count" value="-1" />
                            <button class="btn btn btn-outline-danger" type="submit">-</button>
                        </form>
                    </div>
                    <div class="text-center" style="width: 10%; display: inline-block;">
                        @Model.Item[i].Count
                    </div>
                    <div style="width: 10%; display: inline-block;">
                        <form action="@Url.Action("UpdateItem", "Order")" method="post">
                            <input type="hidden" name="id" value="@Model.Item[i].BookId" />
                            <input type="hidden" name="count" value="1" />
                            <button class="btn btn-outline-success" type="submit">+</button>
                        </form>
                    </div>
                </td>
                <td class="text-right">@Model.Item[i].Price</td>
                <td>
                    <form action="@Url.Action("UpdateItem", "Order")" method="post">
                        <input type="hidden" name="id" value="@Model.Item[i].BookId" />
                        <input type="hidden" name="count" value="0" />
                        <button class="btn btn-danger" type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого</td>
            <td><div style="margin-left:69%">@Model.TotalCount</div></td>
            <td class="text-right">@Model.TotalPrice</td>
            <td></td>
        </tr>
    </tfoot>
</table>
<form action="@Url.Action("Confirmation", "Order")" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-success" type="submit">Сделать заказ</button>
</form>

